/build/
/nbproject/

*.vcxproj.user
*.VC.opendb
*.sdf
*.cbp

win32/.vs/
win32/Debug/
win32/Release/
win32/x64/

win32/libuv/Debug/
win32/libuv/Release/
win32/libuv/x64/

win32/s5proxy/Debug/
win32/s5proxy/Release/
win32/s5proxy/x64/

.idea
cmake-build-debug
cmake-build-release

CMakeCache.txt
CMakeFiles/
Makefile
cmake-libuv/
src/CMakeFiles/
src/cmake_install.cmake
src/s5proxy
cmake_install.cmake
src/Makefile

*.suo
*.opensdf
*.ipch
